<div class="card-list">
    {%- for item in veckomeny.items -%}
    <div class="card">
        <img eleventy:ignore src="{{ item.image }}" alt="{{ item.alt }}">
        <div class="card-content">
            <h2>{{ item.title }}</h2>
            <p>{{ item.text }}</p>
        </div>
    </div>
    {%- endfor -%}
</div>